* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  header {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #F1F6FA;
  }
  
  header b {
    font-size: 4em;
    font-family: 'Fira Code', monospace;
    color: #1A508B;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
  }

  main p.title {
    font-size: 2em;
    text-align: center;
  }
  
  main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    width: 340px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: stretch;
  }

  form label {
    margin-bottom: 5px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
  .form-field input {
    height: 36px;
    border-radius: 4px;
    border: 1px solid lightgrey;
  }
  
  .form-submit {
    display:flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-submit button {
    height: 36px;
    background-color: #1A508B;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
  
  .form-submit button:hover {
    background-color: #fff;
    color: #1A508B;
    border: 1px solid #1A508B;
  }
  
  .form-desc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form a {
    color: #1A508B;
    text-decoration: none;
  }
  
  footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
    color: #1A508B;
    background-color: #F1F6FA;
  }
  